---
import MainLayout from '../../layout/Layout.astro';
import Services from '@/components/services/index.astro';

---

<MainLayout title="Our Services" image="Services_Banner_Img.webp">
  <div class="max-w-7xl mx-auto px-4 py-8">
    <Services />
  </div>
</MainLayout>
