---
import { Icon } from 'astro-icon/components';
import { FaSearch } from 'react-icons/fa';
import { Button } from '../ui/button';
---

<div class='w-full bg-[#161616] min-h-screen pb-12'>
  <div
    class='flex justify-between max-w-7xl mx-auto px-4 md:px-12 py-12 bg-white border-t border-slate-300 md:flex-row flex-col gap-4'>
    <div class='flex items-center md:justify-between flex-wrap gap-6 w-full'>
      <p
        class='flex gap-6 items-center md:text-md md:text-xl text-left max-w-2xl'>
        <Icon name='mdi:arrow-right-circle' size={32} class='pl-2' />
        From air compressors to advanced cooling systems, explore our full range
        of innovative solutions.
      </p>
      <a href='/products' class='flex justify-end gap-4 font-bold'>
       <Button
                        size='lg'
                        className='px-6 py-6 bg-green-600 hover:bg-green-900 font-bold'>
                        <FaSearch className='mr-2 h-4 w-4' />
                        Explore Our Products
                      </Button>
      </a>
    </div>
  </div>
  {' '}

  <div class='flex flex-col gap-10 py-6 justify-center'>
    <p class='max-w-6xl mx-auto text-center text-4xl font-bold text-white'>
      Explore Our Innovative Products
    </p>
  </div>
  <div class='flex flex-col md:flex-row my-4 gap-6 mx-6 max-w-7xl md:mx-auto'>
    <div class='w-full md:w-1/2'>
      <p class='text-left text-2xl  font-bold text-white mb-12'>
        Lubricated Screw Type Air Compressor
      </p>
      <p class='text-left text-lg text-white'>
        The Lubricated Screw Type Air Compressor is engineered for
        high-performance and continuous operation, offering reliable compressed
        air solutions for industrial applications. Designed with advanced rotary
        screw technology, this compressor ensures smooth and efficient air
        compression by utilizing a pair of interlocking helical rotors. The
        lubrication system injects oil into the compression chamber, not only to
        lubricate the moving parts but also to create a perfect seal and
        dissipate the heat generated during the compression process.
      </p>
      <ul class='text-left text-lg text-white list-none mt-6'>
        {' '}
        <li>
          <span class='text-green-600 mr-2'>✔</span>
          High Efficiency
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Continuous Operation
        </li>{' '}
        <li>
          <span class='text-green-600 mr-2'>✔</span>Superior Cooling and
          Lubrication
        </li>{' '}
        <li>
          <span class='text-green-600 mr-2'>✔</span>Low Noise and Vibration
        </li>{' '}
        <li>
          <span class='text-green-600 mr-2'>✔</span>Durable and Reliable
        </li>{' '}
        <li>
          <span class='text-green-600 mr-2'>✔</span>Easy Maintenance
        </li>{' '}
      </ul>
      <div class='flex gap-4 my-6'>
        {' '}
        {' '}
        <a href='/products'>
          <Button
                        size='lg'
                        className='px-6 py-6 bg-green-600 hover:bg-green-900 font-bold'>
                        <FaSearch className='mr-2 h-4 w-4' />
                        Explore Our Products
                      </Button>
        </a>
      </div>
    </div>
    <div class='relative flex justify-center items-center'>
      <img
        src='/images/products/lubricated-screw-type-air-compressor.jpeg'
        alt='Air Compressor'
        width={1200}
        height={1000}
        class='rounded-sm object-cover'
      />{' '}
    </div>
  </div>
  <div class='flex flex-col md:flex-row my-4 gap-6 mx-6 max-w-7xl md:mx-auto'>
    <div class='relative flex justify-center items-center'>
      <img
        src='/images/products/oil-free-reciprocating-air-compressor.jpeg'
        alt='oil air compressor'
        width={1200}
        height={1000}
        class='rounded-sm object-cover'
      />{' '}
    </div>
    <div class='w-full md:w-1/2'>
      <p class='text-left text-2xl font-bold text-white mb-6'>
        Oil-Free Reciprocating Air Compressor
      </p>{' '}
      <p class='text-left text-lg text-white'>
        Our Oil-Free Reciprocating Air Compressors are designed to deliver
        clean, high-quality air, making them an ideal choice for applications
        where oil contamination cannot be tolerated. These compressors operate
        without the need for lubricating oil, ensuring that the air output
        remains free of impurities, providing enhanced safety and performance
        across industries like food and beverage, pharmaceuticals, and
        electronics manufacturing.
      </p>{' '}
      <ul class='text-left text-lg text-white list-none mt-6'>
        <li>
          <span class='text-green-600 mr-2'>✔</span>
          100% Oil-Free Air Output
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span> Low Maintenance
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>High Efficiency
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Durable Build:
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Environmentally Friendly
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Easy Maintenance
        </li>
      </ul>{' '}

      <div class='flex gap-4 my-6'>
        <a href='/products'>
          <Button
                        size='lg'
                        className='px-6 py-6 bg-green-600 hover:bg-green-900 font-bold'>
                        <FaSearch className='mr-2 h-4 w-4' />
                        Explore Our Products
                      </Button>
        </a>
      </div>
    </div>
  </div>
  <div class='flex flex-col md:flex-row my-6 gap-6 mx-6 max-w-7xl md:mx-auto'>
    <div class='w-full md:w-1/2'>
      <p class='text-left text-2xl font-bold text-white mb-12'>
        Refrigerant Type Air Dryer
      </p>{' '}
      <p class='text-left text-lg text-white'>
        The Refrigerant Type Air Dryer is a highly efficient solution designed
        to remove moisture and condensate from compressed air systems. By using
        a refrigeration process, this air dryer cools the air to remove water
        vapor, ensuring dry, clean air for a variety of industrial applications.
        This helps protect your equipment from corrosion, prolongs its lifespan,
        and ensures better overall performance.
      </p>{' '}
      <ul class='text-left text-lg text-white list-none mt-6'>
        <li>
          <span class='text-green-600 mr-2'>✔</span>
          Efficient Moisture Removal
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Energy Efficient
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>User-Friendly Design
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Reliable Performance
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Durable and Reliable
        </li>
        <li>
          <span class='text-green-600 mr-2'>✔</span>Easy Maintenance
        </li>
      </ul>{' '}

      <div class='flex gap-4 my-6'>
        <a href='/products'>
          <Button
                        size='lg'
                        className='px-6 py-6 bg-green-600 hover:bg-green-900 font-bold'>
                        <FaSearch className='mr-2 h-4 w-4' />
                        Explore Our Products
                      </Button>
        </a>
      </div>
    </div>
    <div class='relative flex justify-center items-center'>
      <img
        src='/images/products/refrigerant-type-air-dryer.jpeg'
        alt='refrigerant air dyer'
        width={1200}
        height={1000}
        class='rounded-sm object-cover'
      />{' '}
    </div>
  </div>
</div>
