---
import ContactHome from '@/components/contact/contactHome.astro';
import MainLayout from '../../layout/Layout.astro';
---
<MainLayout title="Contact Us" image="Contactus_Banner_Img_Updated.webp">
    <div class="max-w-7xl mx-auto px-4 py-8">
        <ContactHome />
    </div>
</MainLayout>