---
import { Image } from "astro:assets";
import { Button } from "../ui/button";
---

<div class="container mx-auto flex flex-col items-center gap-6 py-12">
  <Button
    variant="ghost"
    size="lg"
    className="px-6 py-6 text-slate-900 hover:text-green font-bold"
  >
    More About Us
  </Button>
  <Button
    variant="ghost"
    size="lg"
    className="px-6 py-6 text-slate-900 hover:text-green font-bold"
  >
    More About Us
  </Button>
  <Button
    variant="ghost"
    size="lg"
    className="px-6 py-6 text-slate-900 hover:text-green font-bold"
  >
    More About Us
  </Button>
</div>
