---
import { Button } from "../ui/button";
---

<div
  class="relative justify-center gap-6 bg-white max-w-7xl mx-6 md:mx-auto my-12 rounded-md"
>
  <img
    class="object-cover overflow-hidden absolute top-0 left-0 w-full h-full rounded-md"
    src="/images/SDP_Medical_Client_Updated.webp"
    alt="Industry Presence"
  />
  <div class="absolute top-0 left-0 w-full h-full bg-slate-900/50 rounded-md">
  </div>

  <div
    class="flex md:flex-row flex-col min-h-64 justify-center items-center gap-6"
  >
    <Button
      variant="outline"
      size="lg"
      className="px-6 py-6 text-slate-900 hover:text-green-500 font-bold relative z-10"
    >
      Request Quote
    </Button>
    <Button
      variant="outline"
      size="lg"
      className="px-6 py-6 text-slate-900 hover:text-green-500 font-bold relative z-10"
    >
      Conatct Us
    </Button>
    <Button
      variant="outline"
      size="lg"
      className="px-6 py-6 text-slate-900 hover:text-green-500 font-bold relative z-10"
    >
      Request Spare Parts
    </Button>
    <Button
      variant="outline"
      size="lg"
      className="px-6 py-6 text-slate-900 hover:text-green-500 font-bold relative z-10"
    >
      Service or Support
    </Button>
  </div>
</div>
