---

const { title, isSlugPage, isHomePage, image } = Astro.props;
import '@fontsource-variable/space-grotesk';

import '@/styles/globals.css';

import Header from '../components/header/headers.astro';
import Footer from '../components/footer.astro';
import { ViewTransitions } from 'astro:transitions';
import PageHeader from '../components/pageheader/pageheader.astro'; 

---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions/>
  </head>
  <body class="font-poppins">
    <Header />
    {isSlugPage || isHomePage ? null : <PageHeader title={title} image={Astro.props.image}/>}
    <slot />
    <Footer/>
  </body>
</html>
